* {
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
}

body {
  font-family: 'PT Root UI', Helvetica, Arial, sans-serif;
  font-weight: 400;
}

.menubar {
  padding: 20px 0;

  .home {
    display: block;
    width: 50px;
    height: 50px;
    margin: 0 auto;
    background-image: url('images/ADC-Symbol.svg');
    background-size: cover;
  }
}

.footerbar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;

  a {
    text-decoration: none;
    color: var(--medium-grey);

    &:hover {
      color: var(--acid-green);
    }
  }
}
