body.index {
  margin: 0 auto;
  background: #1A1A1A;

  .words {
    max-width: 968px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-content: center;
    margin: 20px auto;
    gap: 4px 4px;
  }

  .word {
    a {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

  & > h1 {
    font-family: 'ADC';
    font-weight: 600;
    font-size: 24px;
    text-transform: uppercase;
    line-height: 28px;
    color: white;
    max-width: 968px;
    margin: 20px auto;
  }
}

@media all and (min-device-width: 430px) and (max-device-width: 768px) {
  body.index {
    .words {
      max-width: 648px;
      grid-template-columns: repeat(2, 1fr);
    }
  }
}
@media all and (max-device-width: 430px) {
  body.index {
    .words {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}
