<meta name="title" content="Словарь Дипфейса">
<meta name="description" content="Термины из дизайна, программирования и продвижения">

<meta property="og:type" content="website">
<meta property="og:url" content="https://dictionary.adc.ac">
<meta property="og:title" content="Словарь Дипфейса">
<meta property="og:description" content="Термины из дизайна, программирования и продвижения">
<meta property="og:image" content="https://dictionary.adc.ac/share/share.png">

<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:url" content="https://dictionary.adc.ac">
<meta property="twitter:title" content="Словарь Дипфейса">
<meta property="twitter:description" content="Термины из дизайна, программирования и продвижения">
<meta property="twitter:image" content="https://dictionary.adc.ac/share/share.png">
